
/*Computers*/
@media only screen and (max-width: 1200px){
    
    .hero-text-box{
        padding: 0 2%;
        width: 100%;
    }   
    
    .row{ padding: 0 2%; }
        
}

/*Tablets in landscape*/
@media only screen and (max-width: 1023px){
    
    body{
        font-size: 27px;
    }
    
    section{
        padding: 60px 0;
    }
    
}

/*Tablets in portrait*/
@media only screen and (max-width: 1023px){
    
}

/*Larger phones*/
@media only screen and (max-width: 767px){
    
}

/*Small phones*/
@media only screen and (max-width: 480px){
    
}

