
/*Computers*/
@media only screen and (max-width: 1200px){
    
    .hero-text-box{
        padding: 0 2%;
        width: 100%;
    }   
    
    .row{ padding: 0 2%; }
        
}

/*Tablets in landscape*/
@media only screen and (max-width: 1023px){
    
    body{
        font-size: 27px;
    }
    
    section{
        padding: 60px 0;
    }
    
    #brands-1{
        margin-left: 15px;
    }
    
    #brands-2{
        margin-right: 15px;
    }
    
    .row{ padding: 0 4%;
    
    }
    
    .logo{
        height: 50px;
        width: 50px;
        float: left;
        margin-top: 20px;
    }

    .logo-black{
        display: none;
        height: 50px;
        width: auto;
        float: left;
        padding-top: 3px;
        margin: 5px 0;
    }
    
    .main-nav{
        margin-top: 25px;
    }   
    
}

/*Larger phones*/
@media only screen and (max-width: 767px){
    body{
        font-size: 27px;
    }
    
    section{
        padding: 60px 0;
    }
    
    #brands-1{
        margin-left: 15px;
    }
    
    #brands-2{
        margin-right: 15px;
    }
    
    .row{ padding: 0 4%;
    
    }
    
    .logo{
        height: 50px;
        width: 50px;
        float: left;
        margin-top: 20px;
    }

    .logo-black{
        display: none;
        height: 50px;
        width: auto;
        float: left;
        padding-top: 3px;
        margin: 5px 0;
    }
    
    .main-nav{
        margin-top: 25px;
    }   
}

/*Small phones*/
@media only screen and (max-width: 480px){
    
}

