/* ---------------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    color: #383838;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

div {
  box-sizing: border-box;
  }

/* ---------------------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------------------------------------------- */

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

/* ---------------------------------------------------------------------------------------- */
/* MAIN HEADER */
/* ---------------------------------------------------------------------------------------- */

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(images/header1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.small-header{
        -moz-transition: background-color 0.2s ease;
		-webkit-transition: background-color 0.2s ease;
		-ms-transition: background-color 0.2s ease;
		transition: background-color 0.2s ease;
		background: #2e3842;
		height: 3em;
		left: 0;
		line-height: 3em;
		position: fixed;
		top: 0;
		width: 100%;
        box-sizing: border-box;
		z-index: 10000;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 75%;
}

.main-header{
    font-size: 400%;
}

header h1{
    margin: 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
}

header h2{
    margin: 0;
    padding-left: 6px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.main-image {
    float: left;
    width: 25%;
}

.main-sub-header {
    color: #fff;
    font-weight: 300;
    font-size: 100%;
}

.announcement{
    background-color: #ffc631;
    padding: 15px;
    margin-top: 10px;
}

.announce{
    text-align: center;
    color: #383838;
    font-weight: 300;
    font-size: 125%;
    padding: 15px;
}

.announce-h2{
    text-align: center;
    color: #383838;
    font-weight: 300;
    font-size: 90%;
}

/* ARROW BUTTON */

.main-header-button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 1em;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: 0 0 0 -0.75em;
    position: absolute;
    width: 1.5em;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -webkit-transition: transform .2s;
    transition: transform .2s;
}

.main-header-button:hover {
    transform: scale(1.125);
}

/* MAIN LOGO AND NAV */

.logo{
    height: 100px;
    width: 100px;
    float: left;
    margin-top: 20px;
}

.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    padding-top: 3px;
    margin: 5px 0;
}


/*Main*/
.main-nav{
    float: right;
    list-style: none;
    margin-top: 45px;
}

.main-nav li{
    display:inline-block;
    margin-left: 40px;
}

.main-nav li a{
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 63%;
    font-weight: 300;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    color: #ffc631;
}

#search-nav {
    color: #fff;
}

/*Sticky*/
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(56, 56, 56, 0.98);
    box-shadow: 0  2px 2px #c1c1c1;
    z-index: 9999;
}

.sticky .main-nav{
    float: right;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 15px;
}

.sticky .main-nav li a{
    color: #ffc631;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{
    color: #fff;
}

.sticky .logo-black{
    display: block;
}
.sticky .logo{
    display: none;
}

/* ---------------------------------------------------------------------------------------- */
/* SECTIONS */
/* ---------------------------------------------------------------------------------------- */

/* HEADERS */
section h2 {
    color: #383838;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

section h2:after{
    display: block;
    height: 2px;
    background-color: #ffc631;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

section h3{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    color: #b18000;
    font-size: 80%;
    padding: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    min-height: 80px;
}

section li{
    list-style: none;
    line-height: 175%;
    text-align: center;
}

section li:after{
    display: block;
    height: 1px;
    background-color: #383838;
    content: "";
    width: 350px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* PARAGRAPHS */
.long-copy{
    line-height: 145%;
    font-size: 100%;
}

section p{
    font-size: 100%;
    line-height: 145%;
}
.brands{
    text-align: center;
}

.brands-list li:after{
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0);
    content: "";
    width: 350px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#brands-1{
    float: left;
    margin-left: 175px;
    margin-top: 30px;
    color: #fff;
}

#brands-2{
    float: right;
    margin-right: 175px;
    margin-top: 30px;
    color: #fff;
}

/* HOW IT WORKS COLUMNS */
.column{
    padding: 25px;
}

.box p{
    font-size: 80%;
    line-height: 145%;
}

.box{
    padding: 1%;
}

h4{
    font-size: 90%;
    font-weight: 300;
    margin-bottom: 15px;
}

/* ICONS */
.icon-big{
    display: block;
    font-size: 200%;
    color: #b18000;
    margin-bottom: 10px;
}

/* CONTACT */

.contact p{
    font-weight: 300;
    font-size: 100%;
    text-align: center;
}

#con-head{
    font-weight: 400;
    font-size: 120%;
    margin-top: 150px;
}

.phone{
    color: #b18000;
}

/* ---------------------------------------------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------------------------------------------- */

footer{
    background-color: #333;
    padding: 50px;
}

footer p{
    color: #888;
    font-size: 55%;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

.footer-contact li{
    border: 0px;
    font-size: 65%;
    font-weight: 300;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.footer-contact li a:link,
.footer-contact li a:visited{
    text-decoration: none;
    border: 0px;
    color: #888;
    font-size: 65%;
    font-weight: 300;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.footer-contact li a:hover,
.footer-contact li a:active{
    color: #ddd;
}

.footer-nav{
    list-style: none;
    float: left;
}   

.footer-contact{
    list-style: none;
    float: right;
}

.footer-nav li,
.footer-contact li {
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.footer-contact li:last-child {
    margin-right: 0px;
}

#footer-address{
    color: #888;
}

#footer-phone{
    color: #b18000;
}

/* MAPS */
#map {
    width: 100%;
    height: 500px;
}

/* IMAGES */
.brand-image{
    margin-top: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(images/scarves.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    height: 625px;
}

.how-image{
    margin-top: 30px;
    background-image: url(images/mirror.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    height: 625px;
}

.hours-image{
    margin-top: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(images/mirror.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
}

.hours-image li{
    color: #fff;
}

.hours-image ul{
    padding-top: 85px;
}

.hours-image li:after{
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0);
    content: "";
    width: 350px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}