/* ---------------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    color: #383838;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

div {
  box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------- */
/* BASIC COLOR GUIDLINES */
/* ---------------------------------------------------------------------------------------- */

/* 
   Main text: #383838
   Lighter yellow color for links and headers: #ffc631
   Darker yellow color for subheaders: #b18000
*/

/* ---------------------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------------------------------------------- */

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
    position: relative;
    z-index: 1000;
    background-color: white;
}

/* ---------------------------------------------------------------------------------------- */
/* MAIN HEADER */
/* ---------------------------------------------------------------------------------------- */

header{
    overflow: hidden;   
    position: relative;
    padding-bottom: 80vh;
}

/* Main header background image */

header::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(images/encore-1.jpg) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1;
}

/* Main header text box */

.hero-text-box{
    position: fixed;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 75%;
}

/* Main header text box text */

.main-header{
    font-size: 400%;
}

/* Header h1 */

header h1{
    margin: 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/* Header h2 */

header h2{
    margin: 0;
    padding-left: 6px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/* Sub header underneath the main text box */

.main-sub-header {
    color: #fff;
    font-weight: 300;
    font-size: 100%;
}

/* ---------------------------------------------------------------------------------------- */
/* MAIN LOGO AND NAVIGATION */
/* ---------------------------------------------------------------------------------------- */

/* Header logo, white */

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: block;
}

.logo{
    height: 100px;
    width: 100px;
    float: left;
    margin-top: 20px;
}

/* Main Navigation Bar */

.main-nav{
    float: right;
    list-style: none;
    margin-top: 45px;
}

/* List for the main navigation bar */

.main-nav li{
    display:inline-block;
    margin-left: 40px;
}

/* Link styles for the main navigation bar */

.main-nav li a{
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 63%;
    font-weight: 300;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

/*Handles the hover animations for the main navigation bar links */

.main-nav li a:hover,
.main-nav li a:active{
    color: #ffc631;
}

/* ---------------------------------------------------------------------------------------- */
/* STICKY NAVIGATION */
/* ---------------------------------------------------------------------------------------- */

/* Sticky Navigation Bar for when the user scrolls down the page */

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #565656;
    box-shadow: 0  2px 2px #c1c1c1;
    z-index: 9999;
}

/* Sticky navigation bar main navigation */

.sticky .main-nav{
    float: right;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 15px;
}

/* Sticky navigation link styles */

.sticky .main-nav li a{
    color: #ffc631;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

/* Handles the hover animations for the sticky navigation links */

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{
    color: #fff;
}

/* Sticky navigation logos */

.sticky .logo{
    display: none;
}

/* ---------------------------------------------------------------------------------------- */
/* SECTIONS */
/* ---------------------------------------------------------------------------------------- */

/* Header styles */

section h2 {
    color: #383838;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

section h2:after{
    display: block;
    height: 2px;
    background-color: #ffc631;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

section h3{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    color: #b18000;
    font-size: 80%;
    padding: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    min-height: 80px;
}

section h4{
    color: #383838;
    font-size: 115%;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    min-height: 80px;
}

/* Section list styles */

section li{
    list-style: none;
    line-height: 175%;
    text-align: center;
}

/* Section paragraph styles */
.long-copy {
    line-height: 145%;
    font-size: 100%;
}

.private-parties {
    font-size: 100%;
    line-height: 145%;
    margin-top: 40px;
    padding: 0px;
}

section p{
    font-size: 100%;
    line-height: 145%;
}

/* Styles for the brands section */

.brands{
    text-align: center;
}

.brands-list li:after{
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0);
    content: "";
    width: 350px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#brands-1{
    float: left;
    margin-left: 175px;
    margin-top: 30px;
    color: #fff;
}

#brands-2{
    float: right;
    margin-right: 175px;
    margin-top: 30px;
    color: #fff;
}

/* Styles for the "How it Works" Sections */

.column{
    padding: 25px;
}

.box p{
    font-size: 80%;
    line-height: 145%;
}

.box{
    padding: 1%;
}

h4{
    font-size: 90%;
    font-weight: 300;
    margin-bottom: 15px;
}
/* ---------------------------------------------------------------------------------------- */
/* ICONS */
/* ---------------------------------------------------------------------------------------- */

/* Styles for "Contact Us" section */

.contact p{
    font-weight: 300;
    font-size: 100%;
    text-align: center;
}

#con-head{
    font-weight: 400;
    font-size: 120%;
    margin-top: 150px;
}

.phone{
    color: #b18000;
}

/* ---------------------------------------------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------------------------------------------- */

/*Footer background */

footer{
    background-color: #333;
    padding: 50px;
}

/* Footer paragraph style */

footer p{
    color: #888;
    font-size: 55%;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

/* Footer list styles */

.footer-contact li{
    border: 0px;
    font-size: 65%;
    font-weight: 300;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.footer-contact li a:link,
.footer-contact li a:visited{
    text-decoration: none;
    border: 0px;
    color: #888;
    font-size: 65%;
    font-weight: 300;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.footer-contact li a:hover,
.footer-contact li a:active{
    color: #ddd;
}

.footer-nav{
    list-style: none;
    float: left;
}   

.footer-contact{
    list-style: none;
    float: right;
}

.footer-nav li,
.footer-contact li {
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.footer-contact li:last-child {
    margin-right: 0px;
}

#footer-address{
    color: #888;
}

#footer-phone{
    color: #b18000;
}

/*------------------------------------------------- */
/* MAPS */
/*------------------------------------------------- */

#map {
    width: 100%;
    height: 500px;
    pointer-events: none;
}

/*------------------------------------------------- */
/* BACKGROUND IMAGES
/*------------------------------------------------- */

/* Background image for the brands section */

.brand-image{
    margin-top: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(images/encore-9.jpg);
    background-size: cover;
    -webkit-transform: translate3d(0,0,0);
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    height: 625px;
    background-attachment: scroll;
}

/* Background image for the hours section */

.hours-image{
    margin-top: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/encore-6.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    height: 500px;
}

/*------------------------------------------------- */
/* PROMOTIONS SECTION
/*------------------------------------------------- */

/* Header styles for Promotions section */

#promotions h2 {
    padding-top: 40px;
}

#promotions h2:after{
    display: block;
    height: 2px;
    background-color: #383838;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.promotion {
    position: relative;
    text-align: center;
    background-color: #ffc631;
    padding-bottom: 0px;
    
}

.promotion ul {
    padding-bottom: 40px;
}

#promotions {
    position: relative;
    padding-top: 0px;
        top: -80px;
    padding-bottom: 0px;
}

.clearance h2:after {
    display: block;
    height: 2px;
    background-color: #000;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*------------------------------------------------- */
/* BUTTONS */
/*------------------------------------------------- */

.button{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.button a{
    text-decoration: none;
    color: #383838;
    border-style:solid;
    border-width: 2px;
    border-color: #ffc631;
    padding: 15px;
    font-weight: 300;
    -moz-transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
}

.button a:hover{
    background-color: #ffc631;
}

/*------------------------------------------------- */
/* OTHER
/*------------------------------------------------- */

/* Styles for "created by Greg Pickart" on the bottom of the page */

#greg{
    text-decoration: none;
    color: #b18000;
}

#greg:hover{
    color:#fff;
}

/* Various other link styles */

.contact{
    text-align: center;
}

.contact a{
    text-decoration: none;
    color: #b18000;
    display: block;
    margin-top: 20px;
    font-weight: 300;
}

.contact a:hover{
    color:#383838;
}

.call-link {
    text-decoration: none;
    color: #ffc631;
}

/* Other "Hours" section styles */

.hours-image li{
    color: #fff;
}

.hours-image a{
    text-decoration: none;
    color: #ffc631;
}

.hours-image h3{
    margin-top: 100px;
}

.hours-image li:after{
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0);
    content: "";
    width: 350px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 15px;
}
.columns {
    margin-top: 20px;
}

#who-we-are {
    padding-top: 0px;
}

.about-header {
    padding-top: 40px;
}
